[user]
    name = Casey
    email = levisalas93@users.noreply.github.com
[core]
    editor = vim
    autocrlf = input
[pull]
    rebase = true
[alias]
    st = status
    co = checkout
    ci = commit
